<!--Base.html wordt als base gebruikt-->
{% extends "base.html" %}
<!--Titel uniek voor deze webpagina-->
{% block title %}Biosearch {% endblock %}
<!--Content voor deze webpagina-->
{% block content %}
    <!--Een header met knoppen om naar de Home webpagine en de Top 10 webpagina te gaan-->
    <header>
        <h1>
            <a href="/" class="button">Home</a>
            <a href="image.html" class="button">Top 10</a>
        </h1>
        <!--Tekst die context geeft over de website en wat de website kan-->
        <b>Deze website is tot stand gekomen voor een onderzoek over de compost van champignonteelt. Uit deze webpagina
        kun je door op (een deel van) de scientific name, protein of accession code te zoeken en door indien nodig te
        filteren op de forward of de reverse read specifieke data bemachtigen, Deze specifieke resultaten worden
        gevisualiseerd in een resultatentabel en vanuit de accessiecode in deze tabel kan er naar de bijbehorende
        eiwit-pagina op NCBI gegaan worden.
        <br>
        <br>
        <br>
        Auteursrechten van S Maassen, F Lochtenberg & S Lukassen.
        </b>
    </header>
    <hr>
    <!--Linkerdeel van de body waar een korte handleiding staat over hoe het zoeken werkt-->
    <nav>
        <p style="color:blueviolet"> Korte handleiding.</p>
        <p style="color:blueviolet"> 1. Voer een (deel van de) accession code, scientific name of protein in de
            zoekbalk.</p>
        <p style="color:blueviolet"> 2. Kies daarna of je wil filteren op forward of reverse read.</p>
        <p style="color:blueviolet"> 3. Klik op verzenden.</p>
        <form method="post">
        <br>
        <!--Zoekbalk om de zoekterm in te typen-->
        <input type="text" name="zoekterm">
        <br>
        <!--Filter voor forward of reverse read-->
        <input type="radio" name="filter" value="forward">Forward
        <input type="radio" name="filter" value="reverse">Reverse
            <br>
            <br>
        <!--Knop om te beginnen met zoeken in de mysql database naar data die matched-->
        <input type="submit">
        <!--Knop die de forward of reverse filter reset-->
        <input type="reset">
        </form>
    </nav>
    <!--Rechterdeel van de body waar een resultatentabel komt voor de hits die matchen met de meegegeven informatie-->
    <section>
        <ul>
        <table border="1">
            <tr><th width="40%"><b>Description protein</b></th>
                <th width="8%"><b>Accession code</b></th>
                <th width="20%"><b>Scientific name</b></th>
                <th width="5%"><b>Bit-score</b></th>
                <th width="6%"><b>E-value</b></th></tr>
        </table>
        <!-- For loop die per hit die matched de bijbehorende data in de resultatentabel zet-->
    {% for i in range(0, len_results)%}
        {% if i == 0%}
            {%for i2 in results%}
                <table border="1">
                <tr> <td width="40%">{{i2[2]}}</td>
                     <td width="8%"><a href="https://www.ncbi.nlm.nih.gov/protein/{{i2[1]}}">{{i2[1]}}</a></td>
                     <td width="20%">{{i2[3]}}</td>
                     <td width="5%">{{i2[4]}}</td>
                     <td width="6%">{{i2[5]}}</td></tr>
                </table>
            {%endfor%}
        {% endif %}
    {%endfor%}
       </ul>
    </section>
{% endblock %}